{
  "9": {
    "0": "FREE",
    "15": "FREE",
    "30": "FREE",
    "45": "BUSY"
  },
  "10": {
    "0": "FREE",
    "15": "FREE",
    "30": "FREE",
    "45": "BUSY"
  },
  "11": {
    "0": "BUSY",
    "15": "BUSY",
    "30": "BUSY",
    "45": "BUSY"
  },
  "12": {
    "0": "FREE",
    "15": "FREE",
    "30": "FREE",
    "45": "FREE"
  },
  "13": {
    "0": "FREE",
    "15": "FREE",
    "30": "BUSY",
    "45": "BUSY"
  },
  "14": {
    "0": "BUSY",
    "15": "BUSY",
    "30": "FREE",
    "45": "FREE"
  },
  "15": {
    "0": "FREE",
    "15": "FREE",
    "30": "BUSY",
    "45": "BUSY"
  },
  "16": {
    "0": "FREE",
    "15": "FREE",
    "30": "FREE",
    "45": "FREE"
  },
  "17": {
    "0": "BUSY",
    "15": "FREE",
    "30": "FREE",
    "45": "FREE"
  }
}